/*common*/
*{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: white;
  padding: 20px;
}

body div{
	padding: 20px;
}

/*清除格式*/
ul{
        list-style: none;
}

.flex,
.flex > div {
    box-sizing: border-box;
}

.flex{
	display: flex;
	align-items: center;
	border:1px solid red;
	justify-content: space-between;
}

.flex > div:nth-child(1)
{ 
	flex: 0 1 auto;
	border: 1px solid #f00;
	width: 150px;
	height: 120px;
	order: 1;

}
.flex > div:nth-child(2){ 
	border: 1px solid #f00;
		width: 150px;
	height: 100px;
		order: 1;
		flex: 0 1 auto;
}

.flex > div:nth-child(3){ 
	border: 1px solid #f00;
			width: 150px;
	height: 40px;
		order: 1;
		flex: 0 1 auto;
}  
    
.flex > div:nth-child(4){ 
	border: 1px solid #0f0;
			width: 150px;
	height: 200px;
		order: 1;
		flex: 0 1 auto;
}

@media screen and (max-width:640px){
.flex{
	display: flex;
	align-items: flex-start;
	border:1px solid red;
	justify-content: space-between;
	flex-wrap: wrap;
}


.flex > div:nth-child(1)
{ 

	order: 2;

}
.flex > div:nth-child(2){ 

		order: 2;

}

.flex > div:nth-child(3){ 
		order: 2;

}  
    
.flex > div:nth-child(4){ 

		order: 1;


}
